nav{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-border);
    color: white;
    position: sticky;
    z-index: 10;
    background: var(--color-primary);
    top: 0;
}

.nav-container{
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container a{
    color: white;
    font-size: 1.1rem;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    color: white;
    font-size: 35px;
    font-weight: 700;
}

.Nav-Searchbar{
    display: flex;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    padding: 5px 10px;
    width: 60%;
    height: 38px;
    background-color: white;
}

.Nav-Searchbar input{
    background: transparent;
    color: var(--color-primary);
    width: 100%;
    font-weight: 600;
}

.Nav-Searchbar .search-results {
    position: absolute;
    top: 100%;
    left: 21%;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    max-width: 845px;
    max-height: 300px;
    overflow-y: auto;
    align-items: center;
  }

  .Nav-Searchbar .search-results::-webkit-scrollbar{
    display: none;
  }
  
  .Nav-Searchbar .search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.2s ease;
    color: var(--color-primary);
  }
  
  .Nav-Searchbar .search-result-item:last-child {
    border-bottom: none;
  }
  
  .Nav-Searchbar .search-result-item:hover {
    background-color: var(--hover-background-color);
  }
  
  .Nav-Searchbar .search-result-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .Nav-Searchbar .search-result-item h4 {
    font-size: 16px;
    color: var(--primary-color);
    margin: 0;
  }
  
  .Nav-Searchbar .search-result-item p {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin: 0;
  }

.nav-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.topbarIconItem {
    margin-right: 5px;
    cursor: pointer;
    position: relative;
  }
  
  .topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: limegreen;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }


/* .........................Media Scrin Start............................. */

@media (max-width:768px) {
    nav .user{
        display: none;
    }
    .nav-container a{
        font-size: 1rem;
    }
    .nav-container .logo{
        font-size: 1.3rem;
    }
    .Nav-Serchbar{
        border: none;
        padding: 0;
    }
    .Nav-Serchbar input{
        display: none;
    }
    .nav-left,.nav-right{
        gap: 20px;
    }
}