.rightBar{
    height: calc(100vh - 4rem);
    /* background: var(--color-card); */
    position: sticky;
    top: 4rem;
    overflow: auto;
}

.rightBar::-webkit-scrollbar{
    display: none;
}

.rightbar-container{
    width: 100%;
    /* margin: 0 auto; */
}

/* ......................Media Start Scrin....................... */

@media (max-width:1024px) {
    .rightbar-container{
        width: 90%;
        /* margin: 0 auto; */
    }
}

@media (max-width:768px) {
    .rightBar{
        display: none;
    }
}